body{
    background-image: url("./assets/bg2.webp");
    scroll-behavior: smooth;
}

#main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.homepage{
    margin: 200px;
    margin-top: 70px;
}
h1 {
    font-size: 50px;
    height: 65px;
    align-items: center;
    text-align: center;
    color:antiquewhite;
    justify-content: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(245, 222, 179, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 2.75s steps(40, end),
      blink-caret .75s step-end infinite;
}
    /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
.sub-heading{
    font-size: 30px;
    color: rgb(135, 255, 249);
    font-family: 'Londrina Solid', cursive;
}
.sub-sub-heading{
    font-size: 25px;
    color: rgb(135, 255, 249);
    font-family: 'Londrina Solid', cursive;
}
#hoi{
    width:100% ;
}
.message{
    color: aliceblue;
    font-weight: 700;
    font-size: larger;
}
h3{
    font-size: 35px;
    color: rgb(50, 255, 245);
    font-weight:bold;
}
.images{
    position: relative;
    display:flex;
    justify-content: center;
    align-content: center;
}
.info-blog{
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;

}
.content{
    color:rgb(218, 234, 243);
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(240, 255, 255, 0.179);
    border-radius: 15px;
}

.content::first-letter{
    font-size: 35px;
    font-weight: 700;
}


.read button:hover{
    background-color: rgb(215, 159, 243);
}
.read button{
    border-radius: 15px;
    border: 3px solid;
    border-color: white;
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    margin: 10px;
}
.navigation-buttons{
    align-items: center;
    justify-content: center;
    display: flex;
}

#button-cmd{
    height: 45px;
    width: 100px;
}



/* .contact {
    position: relative;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.contact h2 {
    color: white;
}

.contact h3 {
    color: wheat;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    margin: 0 10px;
    padding: 3px;
    width: 110px;
    color: white;
}

.links a:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;
    bottom: 0;
}

.copyright hr {
    height: 1px;
    border: 0;
    width: 100%;
    margin-top: 50px;
}

.copyright p {
    color: white;
}
hr{
    color:azure
}
*/


/* Adding some extra css and responsive to your site by nitish */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    margin: 0;
    padding: 30px 100px;
}
h1{
    margin: 20px 0px;
}
.content{
    padding: 10px 15px;
    font-family: 'Poppins';
}
.read button{
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: all 0.5s;
}
.read button:hover{
    background-color: gray;
}
.navigation-buttons a{
    margin: 2px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top:20px ;
}
.contact .items{
    width: 100%;
    padding: 5px 10px;
}
.contact h2{
    color: #fff;
}
.contact h3{
    color: wheat;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 4px 0;
    height: 65px;
}
.links a{
    color: #fff;
    text-decoration: none;
    margin: 0 6px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-top: 5px;
    flex-wrap: wrap;
}
.copyright p{
    margin: 0 7px;
}
hr{
    color: azure;
    margin: 0;
    margin-bottom: 3px;
}


/* media query for responsive */

@media (max-width:900px){
    .homepage{
        padding: 20px 50px;
    }
}
@media (max-width:800px){
    h1{
        font-size: 35px;
        height: 100%;
    }
    h3{
        font-size: 27px;
    }
    .content{
        font-size: 20px;
    }
}
@media (max-width:500px){
    .main img{
        width: 100px;
        height: 100px;
    }
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 23px;
    }
    .homepage{
        padding: 20px;
    }
    .content{
        font-size: 18px;
    }
    #button-cmd{
        height: 100%;
    }
    .links{
        height: 110px;
    }
    .links a{
        margin:  0 4px;
    }
    .copyright p{
        font-size: 15px;
    }
}